%h1 Edit Event

= form_for @event do |event_form|
  %div
    = event_form.label :name, "Event Name: "
    = event_form.text_field :name

  - event_form.fields_for :User do |user_form|
    %p
      %div
        = user_form.label :email, 'Email: '
        = user_form.text_field :email

  = event_form.submit
