%h1 Edit Event

= form_for @event do |event_form|
  %div
    = event_form.label :name, "Event Name: "
    = event_form.text_field :name

  = link_to 'Add User', :controller => 'events', :action => 'add_user', :id => @event.id

  = event_form.submit 'Save'
