%h1 Edit Event

= form_tag event_path, :method => :put

= label_tag :name, "Name"
= text_field_tag :name, :value => @event.name

= label_tag :user, "Users"
= text_field_tag :users

= label_tag :places, "Places"
= text_field_tag :places

= label_tag :dinners, "Dinners"
= text_field_tag :dinners

= submit_tag "Save"
