%h1 New Event
= form_tag events_path, :method => "post"

= label_tag :name, "Name"
= text_field_tag :name

= label_tag :user, "Users"
= text_field_tag :users

= label_tag :places, "Places"
= text_field_tag :places

= label_tag :dinners, "Dinners"
= text_field_tag :dinners

= submit_tag "Create"
